.task-card {
    /* border: 2px solid green; */
    width: 90%;
    height: 150px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 0.5px solid yellow; */
    border-radius: 10px;
    padding: 10px;
    background-color: #5e6264;
    box-shadow: rgba(21, 121, 235, 0.4) 0px 0px 0px 3px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


.title-desc {
    /* height: 100%; */
    width: 50%;
    /* border: 2px solid red; */
    padding: 10px 0px;
}

.title-desc h2 {
    font-weight: bolder;
}

.task-status {
    width: 25%;
    /* height: 100%; */
    /* border: 2px solid pink;  */
    align-items: center;
    justify-content: center;
}

.edit-delete {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    /* border: 2px solid brown; */
    justify-content: space-around;
    padding: 10px;
}

.edit-delete button {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 2rem;
}

.edit-delete button span {
    margin: 0 7px;
    top: 3px;
}

.edit-delete .edit-btn {
    background-color: yellow;
    font-weight: bolder;
    color: black;
}

.edit-delete .delete-btn {
    background-color: red;
    color: white ;
    font-weight: bolder;
}

.task-status p {
    font-size: 2.5rem;
}